body {
    background-color: #ff6a00;
    margin: 0;
}

.boks {
    display: grid;
    grid-template-columns: 15% 15% 15% 5% 5% 15% 15% 15%;
    grid-template-rows: auto;
}

.boks1 {
    grid-column: 3 / 4;
    grid-row: 1 / 2;
    background-color: #e5e3e3;
    margin: 0.78em 0;
    padding: 0.7em 3em;
    text-align: justify;
    font-size: 1.3em;
    border-bottom-left-radius: 0.5em;
    border-top-left-radius: 0.5em;
}

.boks2 {
    grid-column: 4 / 7;
    grid-row: 1 / 2;
    height: auto;
    background-color: #e5e3e3;
    margin: 1em 0;
    padding: 2em 0;
    text-align: justify;
    border-bottom-right-radius: 0.5em;
    border-top-right-radius: 0.5em;
}

.boks3 {
    grid-column: 4 / 6;
    grid-row: 2 / 3;
    text-align: center;
}

.boks4 {
    grid-column: 3 / 7;
    grid-row: 3 / 4;
    padding: 3em 2em;
}

.txt {
    width: 12em;
    height: auto;
    font-size: 1.3em;
}

.knapp {
    font-size: 1.3em;
    font-weight: bold;
    margin: 1.2em auto;
    padding: 1em 2em;
    background-color: #e5e3e3;
}

.knapp:hover {
    background-color: #d3d1d1;
    transform: scale(1.08)
}

p {
    margin-bottom: 1.2em;
}
