* {
  margin: 0;
}

body {
    background-color: #21212121;
}

.side {
  margin: 35vh auto;
  width: 100%;
}

.boks {
  width: 50%;
  margin: 0 auto;
  text-align: center;
  padding: 1em 0;
  font-size: 1.5em;
}

.boks div {
  border: 2px solid black;
}

.boks1 {
  width: 50%;
  margin: 0 auto;
  text-align: center;
}

.boks1 button {
  margin: 1em auto;
  padding: 1em 1.5em;
  cursor: pointer;
}
