body {
    margin: 0;
    overflow: hidden;
}

.boks {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.boks1 {
    width: 47%;
}

.boks2 {
    width: 50%;
    margin: auto;
}

.tekst1 {
    display: none;
    position: absolute;
    animation: tekstr 5s linear;
    animation-play-state: paused;
    top: -20%;
    left: 85%;
    font-size: 2em;
    font-weight: bold;
}

@keyframes tekstr {
    35% {
        transform: scale(0.5);
    }
    40% {
        top: 50%;
        left: 70%;
    }    
    60% {
        transform: scale(1.1);
    }
    100% {
        top: 110%;
        left: 50%;
    }
}

.video {
    display: none;
    width: 100%;
}